ul.flex{
    min-width: 940px;
    margin: 30px;
    border: 1px solid #000;
    background-color: #eee;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding: 15px;
}

.a{
    background-color: red;
}

.b{
    background-color: blue;
}

.c{
    background-color: green;
}

.d{
    background-color: yellow;
    font-size: 72px;
}

.e{
    background-color: orange;
}

.f{
    background-color: pink;
}

/* flex */
/*Flexbox responds to the content and their width first, then it distriutes the leftover space.*/

ul.flex{
    display: flex;
    /* justify-content deals with leftover spacing on the main axis. */
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-between;
    justify-content: space-around;

    /* align-items property distributes space on the cross axis. The tallest item defines
        the height of the whole row and by default, all other items will stretch to fit.*/
    align-items: stretch; /*Default property*/
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;
}

/* center the ul container perfectly on the page */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /*reset specific*/
    min-height: 100vh;
}
